<a href="https://colab.research.google.com/github/dominikaandrzejewska/natural_language_processing/blob/master/NLP_challenge_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

from gensim.utils import simple_preprocess
from gensim.models import Doc2Vec
from gensim.models.doc2vec import TaggedDocument
from gensim.models.phrases import Phraser, Phrases

In [4]:
cd '/content/drive/My Drive/Colab Notebooks/NLP/'

/content/drive/My Drive/Colab Notebooks/NLP

In [5]:
df = pd.read_csv('Day4/data/job_ofer.csv')
df.shape

(36109, 8)

In [6]:
df.head()

                                        title  ...                           industries
0                   Machine Learning Engineer  ...  Information Technology and Services
1  Deep Learning Applied Researcher - Chicago  ...  Information Technology and Services
2                   Machine Learning Engineer  ...  Information Technology and Services
3           Machine Learning / Data Scientist  ...  Information Technology and Services
4                             Cloud Architect  ...  Information Technology and Services

[5 rows x 8 columns]

## Preparing the corpus

In [7]:
title_corpus = df['title'].map(simple_preprocess)
title_corpus

0                            [machine, learning, engineer]
1           [deep, learning, applied, researcher, chicago]
2                            [machine, learning, engineer]
3                     [machine, learning, data, scientist]
4                                       [cloud, architect]
                               ...
36104    [cdl, drivers, hauling, to, canada, no, touch,...
36105    [research, scientist, human, computer, interac...
36106    [clinical, post, market, surveillance, special...
36107    [excellent, teaching, opportunity, in, china, ...
36108                [assistant, director, talent, culure]
Name: title, Length: 36109, dtype: object

In [0]:
title_tagged = [TaggedDocument(words=sent,tags=[i]) for i,sent in enumerate(title_corpus)]

In [0]:
title_model = Doc2Vec(vector_size=300, window_size=5, min_count=1)
title_model.build_vocab(title_tagged)

In [16]:
%time title_model.train(title_tagged, total_examples=title_model.corpus_count, epochs=10)

CPU times: user 47 s, sys: 10.3 s, total: 57.3 s
Wall time: 45.1 s

Checking the accuracy of the model...

In [17]:
title_model.docvecs.most_similar(0)

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[(32108, 0.9345694780349731),
 (322, 0.9335819482803345),
 (316, 0.9316465258598328),
 (7475, 0.9314996600151062),
 (33067, 0.9309027791023254),
 (12511, 0.9290573000907898),
 (341, 0.9285135269165039),
 (13710, 0.927718460559845),
 (34424, 0.9272338151931763),
 (12073, 0.9255372881889343)]

In [22]:
df[df.index==0].title # <== looking for most similar job titles to this one

0    Machine Learning Engineer
Name: title, dtype: object

In [24]:
df[df.index==32108].title # <== the first one is not similar at all

32108    Janitor/Porter (Overnight)
Name: title, dtype: object

In [25]:
df[df.index==322].title # <== the second is much more similar

322    Machine Learning Scientist
Name: title, dtype: object